{% extends 'weather/base.html' %}
{% block content %}
<header class="post-header">
    <h2 class="post-title">About this service</h2>
</header>
<div class="post-content">
    <p>
        This service provide a reliable weather data in chosen region using OpenWeatherMap API.
        Time series data might be used for different purposes e.g. forecasting, scientific calculations
        for disaster management (forest fires) etc.
        The OpenWeatherMap API returns current weather, historical weather data, and forecast details.
    </p>
</div>
{% endblock %}